.hero {
  padding: 100px 0;
  background-color: var(--vz-beige);
}
.hero .row {
  align-items: center;
}
.hero p {
  font-size: 16px;
  color: var(--vz-gray-700);
  padding: 24px 0;
}
.hero a {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--vz-main);
  padding: 12px 24px;
  border: 1px solid var(--vz-main);
  border-radius: 30px;
  transition: 0.3s;
}
.hero a img {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  transition: 0.3s;
}
.hero a:hover {
  color: var(--vz-white);
  background-color: var(--vz-main);
}
.hero a:hover img {
  filter: invert(100%);
}
.hero .hero_image {
  width: 620px;
  height: 620px;
  margin-bottom: 16px;
}
.hero .hero_image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.hero .hero_image-desc {
  position: relative;
  font-size: 15px;
  padding: 0;
  padding-right: 110px;
  color: var(--vz-gray-700);
}
.hero .hero_image-desc:after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: var(--vz-main);
  right: 0;
  top: 50%;
  position: absolute;
}
