.project_title {
  padding: 60px 0;
}
.project_title h2 {
  font-size: 42px;
  font-weight: 500;
}
.project_title h2 {
  line-height: 42px;
  margin-bottom: 0;
}

.project_title p {
  line-height: 18px;
  color: var(--vz-gray-700);
  margin-bottom: 0;
}
.project_title p span {
  font-weight: 600;
  color: var(--vz-main);
}

.project_hero {
  width: 100%;
  height: 620px;
  margin-bottom: 100px;
}
.project_hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project_info {
  padding-bottom: 100px;
}
.project_info table {
  position: sticky;
  top: 30px;
  width: 100%;
  border-collapse: collapse;
}
.project_info table td {
  width: 50%;
  font-size: 15px;
  padding: 12px 0;
  border-bottom: 1px solid var(--vz-gray-400);
}
.project_info-text p {
  color: var(--vz-gray-700);
}
.project_info-text img {
  width: 100%;
  margin-bottom: 16px;
}
.project_info-navigation {
  padding-top: 40px;
}
.project_info-navigation a {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--vz-main);
  padding: 12px 24px;
  border: 1px solid var(--vz-main);
  border-radius: 30px;
  transition: 0.3s;
}
.project_info-navigation a img.next,
.project_info-navigation a img.prev {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  transition: 0.3s;
}
.project_info-navigation a img.prev {
  margin-left: 0;
  margin-right: 8px;
}
.project_info-navigation a:hover {
  color: var(--vz-white);
  background-color: var(--vz-main);
}
.project_info-navigation a:hover img {
  filter: invert(100%);
}
