.sectors {
  padding: 100px 0 60px;
}
.sectors_box-image {
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}
.sectors_box-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sectors .sectors_box h6 {
  font-family: ff-secondary;
  font-size: 20px;
  font-weight: 500;
  color: var(--vz-main);
  padding: 20px 0;
  margin-bottom: 0;
}
.sectors .sectors_box p {
  font-size: 16px;
  color: var(--vz-gray-700);
  margin-bottom: 0;
}
