.services {
  padding: 40px 0 60px 0;
}
.services .row {
  --bs-gutter-y: 1.5rem;
}

/* PROJECTS PAGE */
.all_services {
  padding-top: 0;
}

.services h3 {
  line-height: 36px;
  margin-bottom: 0;
}
.services a {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: var(--vz-main);
  padding: 9px 27px;
  border: 1px solid var(--vz-main);
  border-radius: 20px;
  transition: 0.3s;
}
.services a img {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  transition: 0.3s;
}
.services a:hover {
  color: var(--vz-white);
  background-color: var(--vz-main);
}
.services a:hover img {
  filter: invert(100%);
}
.services_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
  padding: 40px;
  border: 1px solid var(--vz-gray-400);
  border-radius: 8px;
  transition: 0.3s;
}
.services_box img {
  width: 120px;
}
.services_box span {
  font-family: ff-secondary;
  font-size: 20px;
}
.services_box p {
  font-size: 16px;
  color: var(--vz-gray-700);
  margin-top: 8px;
  margin-bottom: 0;
}
.services_box:hover {
  background-color: var(--vz-beige);
}
